body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #2e2f42;
}

/* Unbehaving logo */
.logo {
  display: inline-flex;
  align-items: baseline;
  gap: 0;
  text-decoration: none;
}
.logo:focus,
.logo:focus-visible,
.logo:hover {
  text-decoration: none;
}
.web_logo_header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio_logo_header {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

/* Navigation styles */
header nav ul {
  list-style: none;
}
header nav a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #2e2f42;
}
header nav a:hover {
  color: #404bbf;
}
header nav a:focus {
  color: #404bbf;
  outline: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
header nav a:focus-visible {
  color: #404bbf;
  outline: none;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

/* Address info styles */
.address_info ul {
  list-style: none;
}
.address_info a {
  display: inline-flex;
  list-style: none;
  text-decoration: none;
  color: #434455;
  font-weight: 400;
  font-size: 16px;
}
.address_info a:hover {
  color: #404bbf;
}

/* Hero section styles */
.hero {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  background-color: #2e2f42;
  color: #fff;
}
.hero h1 {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0;
  color: #fff;
}
.order_service_button {
  font-weight: 500;
  font-size: 16px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  line-height: 120%;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.order_service_button:hover {
  background-color: #404bbf;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 120%;
  padding: 16px 32px;
}

/* Our Features section */
.features_list {
  list-style: none;
  font-weight: 900;
}
.features_list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0 0 16px 0;
}
.features_list p {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 400;
}

/* Our Team section */
.team_section {
  background-color: #f4f4fd;
  text-align: center;
}
.team_section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.team_list {
  list-style: none;
  display: grid;
}
.team_list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team_list img {
  display: block;
}
.team_list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.team_card {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  margin: 16px;
}

/* Our Portfolio section */
.portfolio_section h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.portfolio_list {
  list-style: none;
  display: grid;
}
.portfolio_list h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #42342e;
}
.portfolio_list img {
  display: block;
}
.portfolio_list p {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer styles */
footer {
  background-color: #2e2f42;
  color: #fff;
  text-align: none;
}
footer a {
  text-decoration: none;
}
.web_logo_footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio_logo_footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer p {
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
